@model IEnumerable<Post>

@{
	ViewData["Title"] = "Posts";
}

<div class="text-center m-3">
	@if(ViewBag.Categories != null)
	{
		@foreach (var category in ViewBag.Categories)
		{
			<button asp-controller="Post" asp-action="Index" asp-route-categoryId="@category.Id" class="text-success  btn btn-outline-primary me-xxl-1">@category.Name</button>

			@* <button asp-controller="Post" asp-action="Index" asp-route-categoryId="@category.Id" class="badge bg-warning text-decoration-none m-2 btn btn-outline-primary">@category.Name</button> *@
		}
	}

</div>

<div class="row row-cols-3 g-4">

	@foreach(var post in Model)
	{
		<div></div>
	}

</div>